.container-Card{
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color:rgba(255, 255, 255, 0.674);      
}

.card-img-top{
    height: 200px;
}

.box{
height: 150px;
display: grid;
place-items: center;
border: none;
border-radius: 15px;


}
.panico{
    background: #DA5374;
}
.asistencia{
    background: #54DCE4;
}
.img{
    width: 60px;
}