.container-Card{
    width: 300px;
    height: 500px;
    margin: 10px;
    background-color:rgba(255, 255, 255, 0.674);
    border-radius: 20px;
    border: 2px solid rgb(61, 80, 250);
       
}

.card-img-top{
    border-radius: 20px;
    height: 200px;

}
.containerButon{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    gap: 16px;
}
.box{
height: 150px;
display: grid;
place-items: center;
}
.panico{
    background: #DA5374;
}
.asistencia{
    background: #54DCE4;
}
.img{
    width: 60px;
}